{% extends 'base.html' %}
{% load static %}
{% block content  %}
<nav class="navbar navbar-light bg-dark">
 
  <div class="container-fluid">
    
<a class="navbar-brand" id="navbar-logo" href="#"><img   style="width: 170px; height: 70px;" src="{%static "firstlogo.png" %}" > <span style="color: blanchedalmond;"> Home </span>  </a>


<!-- <form class="d-flex">
   <a class="navbar-brand" style="color: blanchedalmond;">Welcome</a>
   <a class="navbar-brand" style="color: blanchedalmond;">Welcome</a>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>>  -->
    <a class="btn btn-danger" href="/loginuser/">Login</a>
  </div>
 
</nav>
{% for message in messages %}
<p style="text-align: center;">{{message}}</p>
{% endfor %}

<div style="position: relative; height:700px; background-size:cover; background-image: url({%static "dheru edited.jpg" %}); ">
 
    
    <div style="position: absolute; top: 10px; right: 10px; width: 350px; height: 300px;
    background-color: darkcyan;  padding: 40px" class="container" >
    <h3 style="text-align: center; color: darkolivegreen; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Sign Up</h3>
    <form method="POST" action="/signupuser/" >
    {% csrf_token %}
        <input class="form-control" placeholder="Enter Your Full Name..." type="text" name="username" style="margin-bottom: 10px;">
        <!--- <input  class="form-control" placeholder="abc@gmail.com" type="email" name="email" style="margin-bottom: 10px"> -->
        <input  class="form-control" placeholder="Password" type="password" name="password" style="margin-bottom: 10px">
        <input  class="form-control" placeholder="Phone Number" type="text" name="Phone" style="margin-bottom: 10px">
        <input style="display: block; margin: auto; margin-top: 10px;" class="btn btn-success" type="submit" >

    </form>

    </div>

</div>

 {% endblock %}